:root{
    --url-nav-background-color: white;
    --url-nav-color: gray;
}
[data-theme="dark"]{
    --url-nav-background-color: rgb(35,35,35);
    --url-nav-color: gainsboro;
}
.container{
    display: flex;
    align-items: center;
    padding:5px 20px;
    background-color: var(--url-nav-background-color);
}
.container span{
    color: var(--url-nav-color);
    background-color: rgba(255, 255, 255, 0.125);
    height: 30px;
    display: grid;
    align-items: center;
    padding-inline: 10px;
}
.actions_container{
    display: flex;
    gap: 20px;
}