.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
}
.container:nth-of-type(1){
    margin-top: 100px;
}
.container > h2{
    color: #ff4400e6;
    margin-inline: 30px;
}




/* .flex{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin-inline: auto; 
}
.container:nth-of-type(2){
    margin-top: 100px;
    width: 50%;
} */

