.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
}
.container h3{
    color: rgb(47, 47, 245);
}
.container.skills section{
    margin-block: 30px;
}
.container.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

