:root{
    --terminal-background-color: white;
    --terminal-color: black;
    --terminal-top-border: gainsboro;
}
[data-theme="dark"]{
    --terminal-background-color: rgb(34, 34, 34);
    --terminal-color: rgb(156, 156, 156);
    --terminal-top-border: rgb(101, 101, 101);
}
.terminal{
    width: 100%;
    height:65px;
    background-color: var(--terminal-background-color);
    position:fixed;
    bottom:0;
    border-top: 1px solid var(--terminal-top-border);
    color: var(--terminal-color);
  }
  .terminal ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-block:10px;
  }
  .terminal ul li{
    text-transform: uppercase;
  }
  .terminal ul li:nth-of-type(4){
    border-bottom: 1px solid var(--terminal-color);
  }
  .terminal div{
    padding-inline: 40px;
  }
  .terminal div span{
    color: rgb(6, 123, 195);
  }