.container h2{
    color: #ff4400e6;
    /* text-align: center; */
}
.container > ul{
    list-style: none;
    display: flex;
    padding:0;
    gap: 30px;
    flex-wrap: wrap;
    /* justify-content: center; */
}
