:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --image-shadow-color: rgba(0, 0, 0, 0.35);
  --home-color: gray;
  --button-background-color: transparent;
  --button-color: rgba(47, 47, 245, 0.7);
  --button-border-color: rgba(47, 47, 245, 0.7);
  --home-secondary-color: rgba(255, 68, 0, 0.7);
}
[data-theme="dark"]{
  --image-shadow-color: rgba(255, 255, 255, 0.35);
  --home-color: white;
  --button-background-color: rgba(93, 93, 246);
  --button-color: white;
  --button-border-color: rgb(138, 137, 137);
  --home-secondary-color: rgba(255, 68, 0, 1);
}

.container h2{
    font-size: 40px;
    font-weight: 100;
    /* color: rgb(47, 47, 245); */
    color:var(--home-color);
}
.container h2 .hello{
    font-size: 30px;
    color:var(--home-color);
}
.container .first{
    background-color: black;
    /* padding: 0 10px; */
    color: white;
    font-size: 35px;
    border-radius: 10px;
    color: var(--home-secondary-color);
    background-color: transparent;
    /* border: 2px solid rgba(255, 68, 0, 0.8); */
    font-weight: 900;
    border-radius: 50px;
    
}
.container img{
    height: 70%;
    border-radius: 50%;
    box-shadow: var(--image-shadow-color) 0px 5px 15px;
    max-width: 500px;
    max-height: 500px;
    position: relative;
}
.content_container{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    height: 70vh;
    margin: auto;
    max-width: 1800px;
}
.content_container a{
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    border: 2px solid var(--button-border-color);
    color: var(--button-color);
    background-color: var(--button-background-color);
}
.content_container a::after{
    content: 'PDF';
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 100;
    padding: 5px;
    color: white;
    text-align: center;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: rgba(255, 68, 0, 0.9);
    border-radius: 50%;
    border: 1px solid gray;
}
.pdf_icon{
  position: absolute;
  top:-15px;
  right:-15px;
}
.content_container a:hover{
    color: white;
    background-color: rgba(93, 93, 246);
}

.text_content div{
    font-size: 45px;
    color: cadetblue;
    margin-bottom: 30px;
    font-weight: 900;
    color: var(--home-secondary-color);
}
@media screen and (max-width:900px){
    .content_container{
        flex-direction: column;
        gap: 0;
        margin-block: 50px;
    }
    .container img{
        margin-inline: auto;
        max-width: 50%;
        min-width: 200px;
        height: auto;
    }
}



.terminal{
  width: 100%;
  height:65px;
  background-color: white;
  position: fixed;
  bottom:0;
  border-top: 1px solid gainsboro;
}
.terminal ul{
  display: flex;
  list-style: none;
  gap: 20px;
  margin-block:10px;
}
.terminal ul li{
  text-transform: uppercase;
}
.terminal ul li:nth-of-type(4){
  border-bottom: 1px solid black;
}
.terminal div{
  padding-inline: 40px;
}
.terminal div span{
  color: rgb(6, 123, 195);
}