.container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.container section:nth-of-type(1){
    width: 100%;
    background-color: whitesmoke;
}
.container h1{
    background-color: white;
    padding: 7px 10px;
    padding-right: 30px;
    margin-top: 0;
    width: fit-content;
    position: relative;
    margin-bottom: 0;
}
.container h1 span{
    font-style: italic;
    font-size: 16px;
}
.container h1 a{
    position: absolute;
    right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.container section{
    width: 100%;
    box-sizing: border-box;
}
.container h1{
    font-weight: 300;
}
h1 span:before{
    content:'ᐸᐳ';
    margin-inline: 5px;
    color: rgb(183, 120, 4);
    font-size: 10px;
    font-weight: 500;
}