.logo{
    padding: 5px 10px;
    margin: 20px;
    font-weight: 900;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    position: absolute;
    top:90px;
    padding:5px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding-right: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo span{
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 5px;
    margin-left: 5px;
}
.dark{
    position: absolute;
    top:90px;
    right:0;
    margin: 20px;
    width: 30px;
    height: 30px;
}
.dark_btn:hover{
    cursor: pointer;
}