:root{
    --logo-border-color: rgba(0, 0, 0, 0.8);
}
[data-theme="dark"]{
    --logo-border-color: rgba(255, 255, 255, 0.8);
}
.logo{
    padding: 5px 10px;
    margin: 20px;
    font-weight: 900;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    position: absolute;
    top:90px;
    padding:5px;
    border: 2px solid var(--logo-border-color);
    padding-right: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo span{
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 5px;
    margin-left: 5px;
}

.toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #333;
    position: absolute;
    top: 120px;
    right: 15px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    z-index: 1;
  }
  
  /* Making a dot switch inside the Toggle Button */
  .toggle::before {
    content: "☀️";
    font-size: 20px;
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EEE;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
  }
  
  /* Changing toggle button background when checked */
  .toggle:checked {
    background: #ff4400e6;
  }
  
  /* Changing dot switch color and moving to the right side when checked */
  .toggle:checked::before {
    background: #333;
    left: 32px;
    content:'☾';
    color: white;
  }