.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
    margin-bottom: 50px;
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container img{
    width: 100%;
}
.card{
    border: 1px solid gray;
    background-color: rgba(220, 220, 220, 0.228);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 570px;
}
.card > div{
    padding: 10px;
}
.card .links{
    margin-top: 10px;
    display: flex;
    align-items:end;
    gap: 20px;
}
.card .links a{
    text-decoration: none;
}
.card .links a:visited{
    color: black;
}
.container h3{
    color: white;
    margin-block: 0;
    width: 100%;
    font-weight: 300;
    padding: 5px 10px;
    background-color: black;
}
.links > svg{
    margin-left: auto;
}