:root{
    --background-color-nav-links: whitesmoke;
    --color-nav-links: black;
    --color-nav-active-link: lightblue;
}
[data-theme="dark"]{
    --background-color-nav-links: rgb(63, 63, 63);
    --color-nav-links: white;
    --color-nav-active-link: black;
}
.nav_links{
    list-style: none;
    padding:0;
    margin: 0;
    background-color: var(--background-color-nav-links);
    transform-origin: left;
    transition: transform 200ms ease-in-out ;
    overflow: hidden;
    position: fixed;
    left:50px;
    z-index: 101;
    height: 100dvh;
    min-width: 250px;
    transform: translateX(-300px);
    color: var(--color-nav-links);
}
.nav_links li {
    padding: 5px 0px;
}
.nav_links a:before{
    content:'ᐸᐳ';
    margin-right: 10px;
    color: rgb(183, 120, 4);
    font-size: 10px;
    font-weight: 500;
}
.folder::before{
    content:'⌄';
    font-size: 20px;
    padding-inline: 10px;
}
.show_nav_links{
    transform: scale(1,1);
}
.nav_links a{
    text-decoration: none;
}
.nav_links a, .nav_links a:visited{
    color: var(--color-nav-links);    
    padding: 0 20px;
}
.explorer{
    font-size: 14px;
    margin-block: 5px;
    font-weight: 500;
    margin-left: 10px;
    text-transform: uppercase;
}
li ul{
    list-style: none;
    padding: 0;
}
.nav_links li:has(>.active){
    background-color: lightblue;
    background-color: var(--color-nav-active-link);
}

.nav_social_links{
    margin: 0;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    z-index: 102;
}
.nav_social_links a{
    cursor: pointer;
}
.nav_bar{
    height: calc(100dvh - 35px);
    display: flex;
    margin: 0;
}
.folder{
    padding:0;
    font-weight: 500;
}
.folder li{
    font-weight: 300;
}
.folder li:nth-of-type(1){
    margin-top: 5px;
}


@media screen and (min-width:1200px){
    .nav_links{
        transform: scale(1,1);
    }
    .menu{
        display: none;
    }
    .nav_links{
        position:static;
        height: auto;
    }
}
