:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color: white;
  --background-block-joint: whitesmoke;
}
[data-theme="dark"]{
  --background-color: rgba(0, 0, 0, 0.8);
  --background-block-joint: rgb(45, 45, 45);
}
body{
  margin:0;
  
}

main{
  width: 100%;
  overflow-x: hidden;
  height: calc(100vh - 85px);
  overflow-y: auto;
  position: relative;
  background-color: var(--background-block-joint);
  background-image: linear-gradient(335deg, var(--background-color) 23px, transparent 23px),
    linear-gradient(155deg, var(--background-color) 23px, transparent 23px),
    linear-gradient(335deg, var(--background-color) 23px, transparent 23px),
    linear-gradient(155deg, var(--background-color) 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

